a {
  text-decoration: none;
}

.advantages img{
  display: block;
}

.advantages-item {
  max-width: 400px;
  box-sizing: border-box;
  padding-top: 25px;
  padding-right: 63px;
  padding-bottom: 45px;
  padding-left: 62px;
}

.advantages-item p {
  display: block;
  text-align: center;
  padding-bottom: 4px;
}

.advantages-item.advantages-first {
  padding-top: 140px;
  padding-right: 50px;
  padding-bottom: 68px;
  padding-left: 50px;
}

.advantages-item-housing {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.advantages-item-food {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 160px 61px;
}

.advantages-item-souvenirs {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 167px 56px;
}

.advantages ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.additional-info{
  display: flex;
  justify-content: space-around;
}

.blue-button{
  background-color: #81b3d2;
  color: #ffffff;
}

.blue-button:hover {
  background-color: #669ec0;
}

.blue-button:focus, .blue-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial,  sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  /*background-color: #f2f2f2;*/
}

.booking-data {
  text-align: center;
}

.booking ul {
  margin: 0;
  padding: 0;;
  list-style: none;
}

.booking-form label {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}
.booking-form fieldset{
  border: none;
}

.booking label {
  font: inherit;
  font-weight: 700;
  color: #000000;
}

.brown-button {
  background-color: #766357;
  color: #ffffff;
}

.brown-button:hover {
  background-color: #604e43;
}

.brown-button:focus, .brown-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}


.catalog .button-details {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding-top: 4px;
  padding-right: 17px;
  padding-bottom: 4px;
  padding-left: 16px;
  background-color: #81b3d2;
}

.catalog .button-details:hover {
  background-color: #669ec0;
}

.catalog .button-details:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.catalog .button-book {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding-top: 4px;
  padding-right: 17px;
  padding-bottom: 4px;
  padding-left: 18px;
  background-color: #766357;
}

.catalog .button-book:hover {
  background-color: #604e43;
}

.catalog .button-book:active {
  color: #857871;
  background-color: #503e33;
}

.catalog .hotel-ranking {
  color: #666666;
  width: 110px;
  height: 27px;
  text-align: center;
  background-color: #f2f2f2;
}

.button-book {
	background-color: #766357;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
}
a.button-details,
a.button-book {
	color: #ffffff;
}
a.button-details:hover,
a.button-details:focus {
	background-color: #669ec0;
}
a.button-details:active {
	background-color: #5496bd;
	color: #94b9d2;
}
a.button-book:hover,
a.button-book:focus {
	background-color: #604e43;
}
a.button-book:active {
	background-color: #503e33;
	color: #928a85;
}

.calendar-checkin {
  position: absolute;
  top: 8px;
  right: 28px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.calendare-departure:active path {
  fill: #81b3d2;
}

.calendar-checkout {
  position: absolute;
  top: 7px;
  right: 28px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.calendar-checkin:hover path,
.calendar-checkout:hover path,
.calendar-checkin:hover rect,
.calendar-checkout:hover rect {
  fill: #000000;
}

.calendar-checkin:active path,
.calendar-checkout:active path,
.calendar-checkin:active rect,
.calendar-checkout:active rect {
  fill: #81b3d2;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.catalog-sorting{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-right: 73px;
  padding-bottom: 10px;
  padding-left: 73px;
}

.filters-search .filter-sorting {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.filters-search .filter-sorting:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.filters-searchg .filter-sorting:active {
  color: #000000;
  border-bottom: none;
}

.catalog-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-bottom: 15px;
  width: 100%;
}

.catalog-item:last-child {
  margin-bottom: 20px;
}

.catalog-item img {
  margin-right: 30px;
  padding-left: 73px;
}

.catalog-item-price{
  margin-right: 6px;
}

.catalog-item-price p {
  margin: 0 0 14px;
}

.catalog-item-title {
  width: 100%;
}

.catalog-item-title h3{
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  margin-top: -5px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-title:hover h3 {
  color: #81b3d2;
}

.catalog-item-title:active h3 {
  color: #b2b2b2;
}

.catalog-title{
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  margin-top: -5px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 4px;
  width: 100%;
}

.catalog-title:hover a {
  color: #81b3d2;
}

.catalog-title:active a {
  color: #b2b2b2;
}


.catalog-title a {
  color: inherit;
}

.catalog-list {
  list-style: none;
  padding: 0;
}

.intro-foto{
    background-color: #81b3d2;
    color: #ffffff;
}

.container{
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.20);
          box-shadow: 0 0 15px rgba(0, 1, 1, 0.20);
}
.features .description{
  text-align: center;
  line-height: 22px;
}


.down{
  background-image: url('../img/icon-down-dir.svg');
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #4178a1;
  background-image: url(../img/filter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center 16%;
  padding-top: 30px;
  padding-right: 73px;
  padding-left: 73px;
  padding-bottom: 29px;
}

.filter label {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  padding-left: 40px;
  margin-left: -13px;
}

.filter li:first-child {
  margin-top: -2px;
  margin-bottom: 20px;
}

.filter li:nth-child(2) {
  margin-bottom: 20px;
}

.filter-items{
  padding: 22px 0;
  width: 100px;
}

.filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-price li .current-filter {
  color: #81b3d2;
  border-bottom: none;
}

.filter-price li:hover .current-filter {
  color: #81b3d2;
  border-bottom: none;
}

.filter-price li {
  margin-right: 33px;
}

.filter-price li:last-child {
  margin-right: 0;
}
.find-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  display: block;
  width: 508px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.features {
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
}

.feature:first-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 100%;
}

.feature:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  min-width: 100%;
}

.first-feature::after{
  content: "";
  background-image: url("../img/flag.png");
  background-size: cover;
  width: 100%;
}
.filter-price-form {
  width: 330px;
  text-align: center;
}

.filter-range {
  width: 320px;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-price {
  margin-top: -2px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.prices {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  text-align: left;
  padding-left: 24px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.prices::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.prices input {
  width: 50px;
  margin: 0;
  margin-right: 28px;
  color: inherit;
  font: inherit;
  font-size: 14px;
  background: none;
  border: none;
  line-height: 18px;
}

.prices input {
  margin-right: 20px;
}

.prices input:first-child {
  padding-left: 4px;
}

.prices label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.prices label:last-child {
  margin-left: 17px;
}

.footer-reference {
  width: 33.33%;
}
.absolute-footer {
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  padding-top: 22px;
  padding-bottom: 37px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  max-width: 33.33%;
  padding-left: 4px;
}

.footer-social li {
  margin-right: 6px;
  background-color: #81b3d2;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-top: 5px;
  padding-left: 30px;
  list-style: none;
  width: 185px;
}

.footer-social .social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-social .social-button:hover {
  background-color: #669ec0;
}

.footer-social .social-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}


/* .footer-contact {
  fill: #81b3d2;
  margin-bottom:-15px;
  margin-left: 5px;
}

.footer-contact:focus {
  fill: #bdbbbc;
} */

.footer-copyright {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 33.33%;
}

.footer-copyright span {
  font: inherit;
  color: #000000;
  margin-right: 9px;
  margin-top: 7px;
}

.footer-copyright a:hover path,
.footer-copyright a:hover rect {
  fill: #81b3d2;
}

.footer-copyright a:active path,
.footer-copyright a:active rect {
  fill: #bdbbbc;
}

.footer-copyright svg {
  pointer-events: none;
}

.book-button p{
  margin: 0 0 14px;
}

.intro-foto{
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
}

.intro-foto::before{
  content: "";
  background-image: url("../img/bridge.png");
  background-size: cover;
  width: 100%;
}

.main-description {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 60px;
  margin-bottom: 17px;
  padding-left: 290px;
  padding-right: 290px;
  width: 620px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
}

.main-footer p {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}
.absolute-footer {
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  padding-top: 22px;
  padding-bottom: 37px;
}

.main-header{
  position: relative;
}

.main-header-logo {
  top:0;
  width: 140px;
  height: 72px;
  position: absolute;
  left: 531px;
}

.main-navigation {
  position: relative;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

.map img {
  width: 1200px;
  height: 473px;
  margin: 0 auto;
  display: none;
}

.main-dscr{
  margin-bottom: 53px;
  width: 1200px;
}

iframe {
  border: none;
  width: 1200px;
  height: 593px;
}

.rating-info {
  padding-right: 73px;
}

.ranking {
  padding-right: 73px;
}

.booking .search-button {
  width: 458px;
  border: none;
  font-family: inherit;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 14px;
  padding-right: 197px;
  padding-bottom: 18px;
  padding-left: 196px;
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.site-navigation {
  list-style: none;
  font-weight: 700;
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 56px;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: #81b3d2;
}

.site-navigation li {
  padding:22px 0;
  width: 240px;
}

.site-navigation li:nth-child(3){
  margin-left: auto;
}

.star {
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  padding-bottom: 50px;
  margin-left: auto;
}

.star-two {
  width: 44px;
}

.star-three {
  width: 66px;
}

.star-four {
  width: 90px;
}

.top{
  background-image: url('../img/icon-up-dir.svg');
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome {
  padding-top: 76px;
  text-align: center;
  min-height: 431px;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -83px;
  background-repeat: no-repeat;
}

.welcome::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 57px;
  width: 1200px;
  background-image: url("../img/polygon.svg");
}

.welcome-img {
  text-align: center;
  margin: 0;
  padding-top:76px;
  min-height: 431px;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center -83px;
  background-size: cover;
}

.feature-item  ul {
  background-color: #ffffff;
}

.features-name {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #333333;
  padding-left: 45px;
}

.features-list .features-name {
  padding-right: 60px;
  margin-bottom: 23px;
  padding-left: 60px;
}

.features-list .features-name,
.features-list .description {
  text-align: center;
}

.features-list .features-name,
.features-list .description {
  text-align: center;
}

.features,
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-item .features-name,
.feature-item .description,
.feature-item p {
  color: #ffffff;
}

.feature-item p {
  display: block;
  text-align: center;
  padding-bottom: 4px;
}

.features-name {
  padding-left: 5px;
}

.feature-description {
  padding-top: 26px;
  padding-right: 60px;
  padding-bottom: 0;
  padding-left: 60px;
}

.feature-description:last-child {
  padding-top: 26px;
  padding-right: 45px;
  padding-bottom: 0;
  padding-left: 45px;
}

.other-features {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.other-features-gray {
  background-color: #eeeeee;
}


.features-number {
  margin: 0 0 21px;
  font-size: 14px;
}

.features-descr {
  margin: 0;
  font-size: 14px;
}

.features-list,
.features-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-current a{
  color: #766357;
}

.navigation-current a:hover,
.navigation-current a:focus {
	color: #766357;
}

.filters-search .found {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-right: 46px;
  margin-top: 29px;
}

.filters-search ul {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
}

.filters-search .sorting {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  margin-top: 37px;
  margin-right: 40px;
}

.filters-search .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -6px;
  margin-left: auto;
}


.arrow-top,
.arrow-down {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.arrow-top:hover path,
.arrow-down:hover path {
  fill: #000000;
}

.arrow-top:active path,
.arrow-down:active path {
  fill: #81b3d2;
}


.filter-list {
	list-style: none;
}
.filter-list a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #b1b1b1;
	border-bottom: 1px dotted #81b3d2;
}
.filter-list a:hover,
.filter-list a:focus {
	color: #81b3d2;
}
.filter-list a:active {
	color: #231f20;
	border-bottom: none;
}

.current-filter {
	list-style: none;
}
.current-filter a {
	color: #81b3d2;
	border-bottom: none;
}

.filter-catalog ul {
  margin: 0;
  padding: 0;
	list-style: none;
}

.filter .filters-list {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-list input {
  font: inherit;
  opacity: 0;
}

.filters-list:first-child {
  width: 257px;
}

.filters-list:nth-child(2) {
  width: 288px;
  margin-right: 200px;
}

.filters-list label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-range input[type="number"] {
	background-color: rgba(0,0,0,0);
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 2px;
	text-align: center;
}

.hotels-show {
  display: block;
  margin-left: 84px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.hotels-show:hover,
.hotels-show:focus {
	background-color: #ffffff;
	color: #000000;
}

.booking {
  position: relative;
}

.booking .booking-interest {
  font-family: inherit;
	font-size: 30px;;
	color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.booking .booking-description{
  font:inherit;
  margin-bottom: 44px;
}

.booking .find-hotel-button {
  position: relative;
  z-index: 3;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding-top: 28px;
  padding-right: 139px;
  padding-bottom: 32px;
  padding-left: 140px;
  background-color: #766357;
}

.booking .find-hotel-button:hover,
.booking .find-hotel-button:focus {
	background-color: #604e43;
}

.find-hotel-button:active {
	background-color: #503e33;
	color: #928a85;
}

.checkin,
.checkout,
.guests{
  position: relative;
}

.checkin-date,
.checkout-date {
  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 54px;
}

.guests label {
  margin-top: 7px;
  margin-right: 40px;
}

.guests label:last-of-type {
  margin-right: 28px;
  margin-left: 52px;
}

.checkin label {
  margin-right: 18px;
}

.checkout label {
  margin-right: 15px;
}



legend {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 28px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 6px;
  width: 16px;
  height: 8px;
  border: 4px solid #ffffff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type="checkbox"]:focus + label {
  outline: rgb(59, 153, 252) auto 1px;
}

.input[type="checkbox"]:disabled + label:before,
.input[type="checkbox"]:disabled + label:after {
  border: 4px solid #6a6a6a;
}
/*
.checkin-date input {
	width: 345px;
} */

/* .checkout-date {
	margin: 30px 60px;
} */
.booking input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  margin-bottom: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 293px;
}

.booking input:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.booking input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.booking-adults, .booking-children {
	display: inline-flex;
	width: 230px;
	padding: 0;
}
.booking-adults button, .booking-children button {
	width: 112px;
}

.search-form {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 315px;
  width: 475px;
  background-color: #ffffff;
  text-align: left;
  display: block;
  margin: 30px auto;
  margin-top: 0;
  padding-top: 55px;
  padding-right: 36px;
  padding-bottom: 54px;
  padding-left: 58px;
  background-color: #ffffff;
}

.popup {
  position: relative;
}

.booking .guests-adults {
  width: 35px;
  height: 16px;
  margin-bottom: 0;
  text-align: center;
  margin-right: 0;
}

.booking .guests-children {
  width: 35px;
  height: 16px;
  margin-bottom: 0;
  text-align: center;
}

.button-minus-adults {
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background-image: url(../img/minus.png);
  background-repeat: no-repeat;
  background-position: 13px 18px;
  background-color: #f2f2f2;
}

.button-minus-adults:hover {
  background-image: url(../img/minus-hover.png);
}

.button-minus-adults:active {
  background-image: url(../img/minus-active.png);
}

.button-plus-adults {
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: 13px 14px;
  background-color: #f2f2f2;
}

.button-plus-adults:hover {
  background-image: url(../img/plus-hover.png);
}

.button-plus-adults:active {
  background-image: url(../img/plus-active.png);
}

.button-minus-children {
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background-image: url(../img/minus.png);
  background-repeat: no-repeat;
  background-position: 13px 18px;
  background-color: #f2f2f2
}

.button-minus-children:hover {
  background-image: url(../img/minus-hover.png);
}

.button-minus-children:active {
  background-image: url(../img/minus-active.png);
}

.button-plus-children {
  width: 38px;
  height: 38px;
  border: none;
  cursor: pointer;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: 13px 14px;
  background-color: #f2f2f2;
}

.button-plus-children:hover {
  background-image: url(../img/plus-hover.png);
}

.button-plus-children:active {
  background-image: url(../img/plus-active.png);
}

.navigation {
  min-height: 0;
  background-image: none;
}
.slider {
  position: relative;
  margin-bottom: 32px;
}

.slider .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.slider .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-filter {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-filter:hover {
  background: #1c4f80;
}

.filter-min {
  left: 0;
}

.filter-max {
  left: 80%;
}


.popup {
  position: relative;
}

.modal-close {
  display: none;
}

@-webkit-keyframes modal-show {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes modal-show {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes modal-error {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes modal-error {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.modal-show {
  -webkit-animation-name: modal-show;
          animation-name: modal-show;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(-1200px);
      -ms-transform: translateX(-1200px);
          transform: translateX(-1200px);
}

.modal-error {
  -webkit-animation-name: modal-error;
          animation-name: modal-error;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
